@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColorLight: #F5F5F5;
  --mainColorDark: #090909;
  --textColor: #0e0e0e;
  --accentColor1: #54c6eb;
  --accentColor2: #2ecc71;
  --accentColor3: #e87461;
  --fontFamily: helvetica-neue-lt-pro, Arial, sans-serif;
}

html,
body {
  background-color: var(--mainColorLight);
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
}

html.home-dark,
html.home-dark body {
  background-color: var(--mainColorDark) !important;
  overflow: hidden !important;
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}