.footer {
  background-color: var(--mainColorDark);
  padding: 20px 10px;
  width: 100%;
}

.pageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  color: var(--accentColor2);
  text-decoration: none;
  padding: 20px 5px;
  margin: 0 10px;
}

.pages:hover {
  color: var(--accentColor3);
}

.footerActive {
  color: var(--mainColorLight);
  text-decoration: underline;
}

.copyright {
  color: var(--mainColorLight);
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 10px;
}

.footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  color: var(--mainColorLight);
}

@media only screen and (max-width: 669px) {
  .pages {
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 471px) {
  .pages {
    font-size: 0.8rem;
    padding: 10px 0;
    margin: 0 5px;
  }
}